@import "../valo/valo.scss";

    .custom {
    @include valo;
   
    .v-caption {
        display: inline-block;
        padding-top: .5em;
        padding-right: .5em;
    }

    .v-slot-added-padding {
        padding-top: .5em;
    }
    
    .table {
        border: 1px solid #000 !important; 
    }

    .player-top {
        border: 1px solid #ccc !important; 
    }

    .player-left {
        border: 1px solid #cc0 !important; 
    }

    .player-right {
        border: 1px solid #c0c !important; 
    }

    .player-bottom {
        border: 1px solid #0cc !important; 
    }

}